@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@600&display=swap');

.cardContainer{
    position: relative;
    width: 380px;
    height: auto;
    border-radius: 10px;
}

.imgDiv{
    height: auto;
}

.imageCard {
  position:static;
  height: 200px;
  width: 100%;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}
.fotterContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 64px;
    background-color: #FFFFFF;
    border-radius: 0 0 10px 10px;
}

.nameCard {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
    width: 70%;
    height: auto;
    color: #000;
    background-color: transparent;
    margin-top: 5px;
    margin-bottom: 5px;
}

.dietDiv{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.dietCard {
width: auto;
height: 12px;
font-family: 'Maven Pro';
font-style: normal;
font-weight: 600;
font-size: 10px;
line-height: 12px;
text-transform: uppercase;
color: #E37C00;
background-color: transparent;
margin: 0px;
margin-top: 2px;
margin-bottom: 2px;
margin-left: 10px;
margin-right: 10px;
}