.divSearchBar{
	width: 100%;
	display: flex;
	flex-direction: row;
	margin-bottom: 15px;
}
.inputCss {
	background: #FFEDDB;
	color: #E37C00;
	border: none;
	border-radius: 5px 0 0 5px;
	display: block;
	height: 26px;
	margin: 0;
	padding: 0 10px;
	width: 75%;
	-webkit-border-radius: 5px 0 0 5px;
	-moz-border-radius: 5px 0 0 5px;
	-ms-border-radius: 5px 0 0 5px;
	-o-border-radius: 5px 0 0 5px;
}
.inputCss::placeholder {
	color: #E37C00;
	font-family: arial, sans-serif;
	font-size: 13px;
	font-weight: 400;
	line-height: 40px;
}

.inputCss:focus {
	animation: glow 800ms ease-out infinite alternate;
	background: #FFEDDB;
	color: #E37C00;
	outline: none;
}

.searchButton {
	background: #E37C00;
	box-sizing: border-box;
	border: none;
	border-radius: 0 5px 5px 0;
	color: #FFEDDB;
	display: block;
	float: left;
	font-family: helvetica, arial, sans-serif;
	font-size: 13px;
	font-weight: 700;
	height: 26px;
	line-height: 40px;
	position: relative;
	width: 65px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}	

.searchButton:hover,
.searchButton:focus {
	animation: glow 800ms ease-out infinite alternate;
	background: #E37C00;
	color: #FFEDDB;
	outline: none;
}

.searchButton:active {
	background: #FFEDDB;
	top: 1px;
}

@keyframes glow {
    0% {
		border-color: #E37C00;
		box-shadow: 0 0 5px orange, inset 0 0 5px rgba(252, 177, 65, 0.87);
	  }
	  100% {
		border-color: #E37C00;
		box-shadow: 0 0 20px orange, inset 0 0 10px rgba(252, 177, 65, 0.87);
	  }
}

